<% layout('layout') -%>


  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit" id="navbar-gap">
    <div class="container">

    <h1>Shop smart! Save Big!</h1>
    <p>Starting point to create something more unique</p>
    <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
  </div>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="span4">
      <h3>Start your search here</h3>
      <p>Starting point to create something more unique</p>
      <p>Signup to start buying</p>
      <p>Our prices are some of the best on the web</p>
    </div>
    <div class="span4">
      <h3>Look for smart items</h3>
      <p>These will appear across as you add to your cart</p>
   </div>
    <div class="span4">
      <h3>Build a smart cart</h3>
      <p>The more smart items you buy together, the more you save :) </p>
    </div>
  </div>
</div>
